body{
	background-color: #C99DA3;
}
.center{
    display: block;
    margin-Left: auto;
    margin-right: auto;
    width: 50%;
 }
 table{
    font-family: "satisfy", cursive;
    align-content: center;
 }